<h1>Halls</h1>

<ul>
  <% @halls.each do |hall| %>
    <li><%= link_to hall.name, hall %></li>
  <% end %>
</ul>

<% if manager? %>
  <%= link_to "Add new hall", new_hall_path %>
<% end %>

<%= link_to "Back", shows_path %>
