<h1>Halls</h1>

<ul>
  <% @halls.each do |hall| %>
    <li><%= link_to hall.name, hall %></li>
  <% end %>
</ul>

<% if manager? %>
  <div><%= link_to "Add new hall", new_hall_path %></div>
<% end %>

<div><%= link_to "Back", shows_path %></div>
