<h1>Movies</h1>

<ul>
  <% @movies.each do |movie| %>
    <li><%= link_to movie.title, movie %></li>
  <% end %>
</ul>

<% if manager? %>
  <div><%= link_to "Add new movie", new_movie_path %></div>
<% end %>

<div><%= link_to "Back", shows_path %></div>
